<!-- <h1>Hello world</h1> -->
   
<!-- <div [ngSwitch] = "role">
  <div *ngSwitchCase="'User'">
    Welcome User
  </div>
  <div *ngSwitchCase="'admin'">
    <app-rooms></app-rooms>
  </div>
  <div *ngSwitchDefault>
    you are not autherized
  </div>

</div> -->
<!-- <app-container>
  <app-rooms></app-rooms>
  <h1>this is from ng content</h1>
  <app-employee> </app-employee>
</app-container>
<div>
  <!-- <ng-template #user></ng-template> 
</div>
 -->
<!-- <a routerLink="/rooms">Rooms</a><br/>
<a routerLink="/employee">emplyee</a>
<router-outlet></router-outlet>
 -->
<app-app-nav></app-app-nav>