<p>booking works!</p>
{{ bookingForm.value | json }}<br/>
{{ bookingForm.invalid | json }}
{{ bookingForm.pristine | json }}
{{ bookingForm.dirty | json }}

<form [formGroup]="bookingForm" class="example-form" (ngSubmit)="onSubmit()">

  <div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addPassport()"
    >
      add Passport
    </button>
   </div> 
  <div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="removePassport()"
    >
      remove Passport
    </button>
   </div> 
   <mat-form-field *ngIf = "bookingForm.get('passport')">
    <mat-label>passport</mat-label>
    <input
      type="text"
      matInput
      formControlName="passport"
      placeholder="passport"
      required
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Room Id</mat-label>
    <input
      type="text"
      matInput
      formControlName="roomId"
      placeholder="pat@example.com"
      required
    />
    <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Guest Name</mat-label>
    <input
      type="text"
      matInput
      formControlName="guestName"
      placeholder="pat"
      required
    />
  </mat-form-field>
  
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Guest Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="guestEmail"
      placeholder="pat@gmail.com"
      required
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Booking Amount</mat-label>
    <input
      type="number"
      matInput
      formControlName="bookingAmount"
      placeholder="pat"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Check in Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="checkinDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Check out Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="checkoutDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Booking Date </mat-label>
    <input matInput [matDatepicker]="picker" formControlName="bookingDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div formGroupName="address">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Address </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="example-full-width" appearance="fill">
          <input
            type="text"
            matInput
            formControlName="addressLine1"
            placeholder="Address Line 1"
            required
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input
            type="text"
            matInput
            formControlName="addressLine2"
            placeholder="Address Line 2"
            required
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input
            type="text"
            matInput
            formControlName="city"
            placeholder="City"
            required
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input
            type="text"
            matInput
            formControlName="state"
            placeholder="state"
            required
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <input
            type="text"
            matInput
            formControlName="country"
            placeholder="country"
            required
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <input
            type="text"
            matInput
            formControlName="zipCode"
            placeholder="zipCode"
            required
          />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addGuest()"
    >
      add guest
    </button>
  </div>
  <div formArrayName="guests">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Guest </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let guest of guests.controls; let i = index">
          <div [formGroupName]="i">
            <mat-form-field>
              <input
                type="text"
                matInput
                formControlName="guestName"
                placeholder="name"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                type="number"
                matInput
                formControlName="age"
                placeholder="age"
                required
              />
            </mat-form-field>
            <div>
              <button
                mat-raised-button
                color="primary"
                type="button"
                (click)="removeGuest(i)"
              >
                remove guest
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
    <mat-checkbox class="example-margin" formControlName ="tnc">TNC</mat-checkbox>
  </div>
  <div>
    <button [disabled]="bookingForm.invalid" mat-raised-button color="primary">Submit</button>
  </div>
  <!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Room Id</mat-label>
    <input
      type = ""
      matInput
      formControlName=""
      placeholder="pat"
      required
    />
  </mat-form-field> -->
</form>
